# Virtual Environment
env-aneml-bench/*
venv/
ENV/
.env

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
develop-eggs/
dist/


profile_report.html
anemll_bench/results/
reports/*.html
examples/*.html
benchmark_*.html
env-anemll-bench/*
reports/plots_20250306_125822/throughput.png
=8.2
examples/upload_deephermes_model.py
examples/update_dual_benchmark.py
anemll_bench/__init__.py
anemll_bench/__init__.py
anemll_bench/__init__.py
